body{
    background-color: #232323;
}
h1{
    color: white;
    width: 60%;
    margin: 0 auto;
    text-align: center;
}
.box
{
    width: 30%;
    background-color: blueviolet;
    margin: 1.66%;
    padding-bottom: 30%;
    float: left;
    border-radius: 1px;
}
#container
{
    width: 40%;;
    margin: 0 auto;
}
#result
{
    margin: 0 auto; 
    height: 30px;
    text-align: center;
    margin-top: 10px;
    background-color: white;
    color: black;
}
.bcolor
{
    color: green;
    background-color: lightskyblue
}